/* Style the tab buttons */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
  height: 100vh;
}

/* Set default styles for buttons */
.buttons {
  padding: 50px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
}


/* Style each tab content individually */
#Welcome {background-color:red;}
#About {background-color:green;}
#Projects {background-color:yellow;}
